<b>Error Message</b><br>
<p style="color:red">
  <%= @error_message %>
</p>

<b>Backtrace</b><br>
<p style="font-family:Courier">
  <%= @error_backtrace.split("\n").join("<br>") if @error_backtrace %>
</p>

