<b>Message</b><br>
<p><%= @message %></p>

<% if @memory_log.to_s.size > 0 %>
  <b>Log Data</b><br>
  <p style="font-family:Courier">
    <%= @memory_log.to_s.split("\n").join("<br>").html_safe %>
  </p>
<% end %>

<p>Task took: <%= @time %> seconds</p>

