<b>Message</b><br>
<%= @message %>

<% if @memory_log.to_s.size > 0 %>
  <b>Log Data</b><br>
  <p style="font-family:Courier">
    <%= @memory_log %>
  </p>
<% end %>

<p>Task took: <%= @time %> seconds</p>

